 {{> header}}
 
 <div>
        <div class="notification loadingBox">
            Loading …
        </div>
        <div class="notification infoBox">
            Info
        </div>
        <div class="notification errorBox">
            Error: destination name can't be empty!
        </div>
    </div>

    {{> footer}}