 <nav>
            <div class="left-container">
                <ul>
                    {{#if isLoggedIn}}
                    <li><a href="#/home">Home</a></li>
                    {{else}}
                    <li><a href="#/home">Home</a></li>
                    {{/if}}
                    {{#if isLoggedIn}}
                    <li><a href="#/dashboardDetails">Destinations</a></li>
                    <li><a href="#/create">Add +</a></li>
                    {{else}}
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#/register">Register</a></li>
                    {{/if}}
                </ul>
            </div>
            <div class="right-container">
                {{#if isLoggedIn}}
                <span>Welcome, {{userEmail}} |</span>
                <a href="#/logout" class="log-out">Logout</a>
                {{/if}}
            </div>
        </nav>